* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
}

#mitch {
    max-width: 100%;
    object-fit: cover;
}

#oranges {
    max-width: 176px;
    height: auto;
    margin-top: 29px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.spanny {
    font-weight: bold;
}

.Maintopcontainer {
    display: flex;
    justify-content: space-between;
    padding: 32px 96px;
    flex-wrap: wrap;
    gap: 32px;
    align-items: flex-start;

}

.Leftsideoftop {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex: 1;
    justify-content: flex-start;
    padding-bottom: 32px;
    align-items: flex-start;
    gap: 8px;
}

.Rightsideoftop {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-height: 250px;
    min-width: 50%;
    max-width: 400px;
    flex: 1;
    background-color: grey;
    overflow: hidden;
}

h5 {
    font-size: 24px;
    color: #F9FAF8;
}

.topline {
    display: flex;
    padding-left: 96px;
    padding-right: 96px;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
}

nav > a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    display: block;
}

.buttondiv {
    max-width: 100px;
    border-radius: 30px;
}


#Signupattop, #Signupatbottom {
    width: 120px;
    height: 32px;
    padding: 8px 16px 24px 16px;
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
}

#Signupattop:hover, #Signupatbottom:hover {
    background-color: grey;
}

.infoboxes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
    padding: 48px;
    align-items: center;
    flex-shrink: 0;
}

h2 {
    font-size: 28px;
}

.lineofboxes {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 0px 16px;
    flex-wrap: wrap;
}

.boxandtext {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    max-width: 216px;
}

.box {
    height: 192px;
    width: 192px;
    border: 8px solid #3882F6;
    border-radius: 16px;
    
}

.boxtext > p {
    text-align: center;
}

.quotesection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: #E5E7EB;
    padding: 64px 128px;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;

}
.creditdiv {
    margin-left: auto;
}

.credit {
    font-weight: bold;
    color: #1F2937;
    font-size: 24px;
    padding-right: 36px;
}

.actionsection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 96px;
}

.calltoaction {
    width: 900px;
    min-height: 160px;
    background-color: #3882F6;
    display: flex;
    justify-items: space-around;
    align-items: center;
    gap: 128px;
}

.calldiv {
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 32px;
    gap: 2px;
}

.largecalltext {
    font-size: 21px;
    color: #F9FAF8;
    font-weight: bold;
}

.callsubtext {
    color: #F9FAF8;
    font-size: 16px;
}

.callbutton {
    display: flex;
    justify-content: center;
    padding: 0px 32px;
}